/* _______GENERAL SETUP________ */
/* CSS reset: https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-200);
}

button {
  background: none;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

picture {
  display: block;
}

i {
  width: 100%;
  display: inline;
}

/* VARIABLES */
:root {
  /* colors */
  --dull-blue: #00abb2;
  --bright-blue: #00cdac;
  --white: aliceblue;
  --black: #272044;
  --grey: #333333;
  --light-grey: #808080;
  --lighter-grey: rgb(201, 205, 209);

  /* font-sizes */
  --fs-700: clamp(1.5rem, 7vw, 3.5rem);
  --fs-600: clamp(1.5rem, 4vw, 2.3rem);
  --fs-500: clamp(1.15rem, 3vw, 1.6rem);
  --fs-400: 1.3rem; /* for primary btns */
  --fs-300: 1.05rem; /* for primary btns */
  --fs-200: 1rem;
  --fs-100: 0.8rem;
}

@media (width < 650px) {
  :root {
    --fs-400: 0.95rem;
    --fs-300: 0.75rem;
    --fs-200: 0.85rem;
    --fs-100: 0.6rem;
  }
}

@media (width > 1500px) {
  :root {
    --fs-700: clamp(2.5rem, 7vw, 5rem);
    --fs-600: clamp(2.3rem, 4vw, 3rem);
    --fs-500: clamp(1.7rem, 3vw, 2rem);
    --fs-400: 1.7rem;
    --fs-300: 1.5rem;
    --fs-200: 1.2rem;
    --fs-100: 1rem;
  }
}

/* ________GENERAL UTILITY CLASSES________ */

.btn-primary {
  padding: 0.25em 0.75em;
  font-weight: bold;

  /* gradient borders */
  border-width: 2px; /* Set the border width */
  border-style: solid; /* Set the border style to solid */
  border-image: linear-gradient(
    110deg,
    var(--dull-blue),
    var(--bright-blue)
  ); /* Define the gradient */
  border-image-slice: 1; /* Ensure the gradient covers the entire border */
}

.btn-primary:hover {
  background-image: linear-gradient(
    110deg,
    var(--dull-blue),
    var(--bright-blue)
  );
  background-clip: text;
  -webkit-background-clip: unset;
  color: var(--white);
}

.btn-secondary {
  font-weight: bold;
  color: var(--white);

  padding: 0.25em 0.8em;
  /* gradient borders */
  border-width: 2px; /* Set the border width */
  border-style: solid; /* Set the border style to solid */
  border-color: var(--white);
  background: none;
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--dull-blue);
}

.blue-gradient-text {
  background-image: linear-gradient(
    110deg,
    var(--dull-blue),
    var(--bright-blue)
  ); /*setting background color of text to gradient*/
  background-clip: text; /* clipping/wrapping background to the text */
  -webkit-background-clip: text; /* webkit based browsers needs the -webkit prefix. webkit- prefix is used with some css properties, as some CSS features that are not part of the official CSS specification, or they might be used to provide browser-specific styling or behavior. */
  color: transparent; /*since default color of text is getting in the way that's why we can't see background gradient color which we've clipped to text that's why we've set it to transparent*/
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ________MAIN STYLING________ */

body > section {
  background-color: var(--white);
}

/* HERO SECTION */

.hero {
  /* border: 2px solid blue; */
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.hero-inner {
  /* border: 2px solid blue; */
  margin-inline: auto;
  max-width: 2200px;
  width: 100%;
  padding-left: 6%;
  display: grid;
  gap: 1.5em;
}

.hero-inner h1 {
  /* font-size: 3.1rem; */
  font-size: var(--fs-700);
  word-spacing: 3px;
  color: var(--black);
}

.hero-inner button {
  /* font-size: 1.3rem; */
  font-size: var(--fs-400);
  width: fit-content; /* display: grid on parent spreads the width to 100%, to not lett it spread the button accross whole space, we need to specify a width to it */
}

/* for mobile */
@media (width < 750px) {
  .hero-inner {
    padding-left: 0;
    width: 95%;
  }
  /* .hero-inner button {
    font-size: 0.9rem;
  } */

  h1 {
    word-spacing: normal;
  }
}

/* @media (width > 1500px) {
  :root {
    --fs-700: clamp(2.5rem, 7vw, 5rem);
  }

  .hero-inner button {
    font-size: 1.7rem;
  }
} */

/* ABOUT ME SECTION */

.about-me {
  /* gradient background */
  background-image: linear-gradient(
    110deg,
    var(--dull-blue),
    var(--bright-blue)
  );
  /* tilted bottom of about me section */
  clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 0% 100%);
  margin-bottom: 4em;
}

.about-me-inner {
  color: var(--white);
  padding-top: 3em;
  padding-bottom: 7.5em;
  margin-inline: auto;
}

.about-me-inner .about-me-header {
  text-align: center;
  margin-bottom: 1.5em;
  color: var(--white);
  font-size: var(--fs-600);
}

.about-me-inner .about-me-content {
  margin-inline: auto;
  max-width: 1500px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15%;
  align-items: center;
}

.about-me-content picture {
  border-radius: 0.2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* box-shadow: [horizontal dist.] [vertical dist.] [blur] [spread of shadow] [color] */
  overflow: hidden;
}

.about-me-content .about-me-text {
  display: grid;
  gap: 0.8em;
  align-items: center;
}

.about-me-text button {
  width: fit-content;
  font-size: 0.9rem;
}

@media (width < 1000px) {
  .about-me-inner .about-me-content {
    width: 90%;
  }
}

/* for mobile */

@media (width < 650px) {
  .about-me {
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
  }

  .about-me-inner {
    padding-bottom: 9em;
  }

  .about-me-inner .about-me-content {
    grid-template-columns: 1fr;
    gap: 4em;
  }

  .about-me-content picture {
    max-width: 250px;
    margin-inline: auto;
  }

  .about-me-content .about-me-text {
    text-align: center;
  }

  .about-me button {
    margin-inline: auto;
  }
}

/* PROJECTS SECTION */

.projects {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.projects-inner {
  margin-inline: auto;
  color: var(--black);
  width: 95%;
}

.projects-inner .projects-header {
  font-size: var(--fs-600);
  text-align: center;
  margin-bottom: 2em;
}

.projects-inner .all-projects {
  margin-inline: auto;
  display: grid;
  gap: 6em;
}

.all-projects .project {
  margin-inline: auto;
  display: grid;
  gap: 2.5em;
}

.project .project-text {
  order: 2;
  text-align: center;
  display: grid;
  gap: 1em;
}

.project-text h3 {
  /* font-size: 1.4rem; */
  font-size: var(--fs-500);
}

.project-text .project-btns {
  margin-top: 0.4em;
}

.project-btns button:nth-child(1) {
  margin-right: 0.8em;
}

.project-btns button {
  font-weight: bold;
  font-size: 1.05rem;
  font-size: var(--fs-300);
}

.project picture {
  aspect-ratio: 18/9; /*to maintain certain aspect ratio*/
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@media (width > 700px) {
  .projects-inner {
    max-width: 2200px;
  }

  .all-projects * {
    border: 1px solid black;
  }

  .all-projects .project {
    grid-template-columns: 1fr 1.7fr;
    /* we'd have to use align-items since otherwise all our grid items which include project img and text would grow out indefinitely (in full size of img) and starts to overflow out of .projects-inner element since we haven't fixed .project element's width yet */
    align-items: flex-start;
  }

  .project .project-text {
    order: 1;
    text-align: left;
    /* align-items: flex-start; */
  }

  .project picture {
    order: 2;
  }
}

@media (width > 1500px) {
  .projects-inner .all-projects {
    gap: 12em;
  }

  .all-projects .project {
    gap: 6em;
  }
}

/* CONTACT ME */

.contact-me {
  background-image: linear-gradient(
    110deg,
    var(--dull-blue),
    var(--bright-blue)
  );
  /* tilted bottom of about me section */
  clip-path: polygon(0% 32%, 100% 0%, 100% 100%, 0% 100%);
}

.contact-me-inner {
  color: var(--white);
  padding-top: 7.7em;
  padding-bottom: 4em;
  margin-inline: auto;
  flex-direction: column;
  text-align: center;
  width: 95%;
}

.contact-me-inner .contact-me-header {
  text-align: center;
  margin-bottom: 1em;
  color: var(--white);
  font-size: var(--fs-600);
}

.contact-me-inner button {
  font-size: var(--fs-400);
  margin-top: 1.2em;
}

@media (width < 650px) {
  .contact-me {
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* FOOTER */

footer {
  background-color: var(--grey);
  padding-block: 3.8em;
}

footer .footer {
  flex-direction: column;
  gap: 1.2em;
}

.footer-arrow,
.social-media-handles {
  margin-bottom: 1em;
}

.social-media-handles {
  gap: 2.7em;
}

.footer-icons {
  color: var(--white);
  font-size: 1.7rem;
}

.copyright-content {
  width: 100%;
  color: var(--light-grey);
  /* border: 2px solid wheat; */
}

.copyright-content .footer-bar {
  max-width: 700px;
  width: 85%;
  height: 1px;
  background-color: var(--light-grey);
  margin-inline: auto;
  margin-bottom: 0.5em;
}

.copyright-content .copyright-text {
  text-align: center;
  font-size: var(--fs-100);
}

.copyright-text i,
.github-stats i {
  display: inline;
}

.github-stats {
  color: var(--black);
  gap: 1em;
  font-size: var(--fs-100);
  font-weight: bold;
}

.github-stats,
.github-stats > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.2em;
  overflow: hidden;
}

.github-stats > div > div {
  padding: 0.4em 0.6em;
  gap: 0.3em;
}

.github-stats > div > div:nth-child(1) {
  background-color: var(--lighter-grey);
}

.github-stats > div > div:nth-child(2) {
  background-color: var(--white);
}

/* responsive padding: calc(8px + 1.5625vw) */
